@model CertificationSlotVM
<div >
<form method="post" class="row">
    <table class="table table-bordered  table-striped table-light" style="width:100%">
        <thead>
            <tr>
                <th class="text-success-emphasis">
                    Datum
                </th>
                <th class="text-success-emphasis">
                    Veckodag
                </th>
                <th class="text-success-emphasis">
                    Certification
                </th>

            </tr>
        </thead>
        <tbody>
            @foreach (var obj in Model.CertificationSlot.CertificationDays)
            {
                <input hidden asp-for="@obj" />
                <tr>
                    <td>
                        @obj.Date

                    </td>
                    <td>
                        @obj.Date.DayOfWeek
                    </td>
                    <td>
                        <input asp-for="@obj.IsCertDay" type="checkbox" class="form-control border-1 form-check-input" />
                        <input hidden asp-for="@obj.Id" />
                        <input hidden asp-for="@obj.IsCertDay" />

                    </td>
                </tr>
            }
        </tbody>
    </table>
    <button type="submit" class="btn btn-primary form-control rounded">Update</button>
</form>
</div>