@* 
Controller: Dashboard
Action: Index
*@

@using SCS.Models.ViewModels
@model DashboardVM

<h2>Dashboard</h2>

<div class="border border-1 p-2 mb-2">
    <div class="h5 bg-info text-light p-2">Customers by Country</div>

    @foreach (var user in @Model.Users)
    {
        <div class="row m-2">
            <div class="col-6">
                <strong>@user.Key</strong>
            </div>
            <div class="col-6">
                @user.Count()
            </div>
        </div>
    }
    <span class="p-2 text-danger">Does not include Users with no updated Profile address</span>
</div>


<div class="border border-1 p-2 mb-2">
    <div class="h5 bg-info text-light p-2">Orders By Status</div>
    @if (Model.Orders.Count() > 0)
    {
        @foreach (var order in @Model.Orders)
        {
            <div class="row m-2">
                <div class="col-6">
                    <strong>@order.Key</strong>
                </div>
                <div class="col-6">
                    @order.Count()
                </div>
            </div>
        }
    } else {
        <span class="p-2 text-danger">There are no Orders recorded.</span>
    }
</div>

<div class="border border-1 p-2 mb-2">
    <div class="h5 bg-info text-light p-2">Products By Category</div>
    
    @foreach (var prod in @Model.Products)
    {
        <div class="row m-2">
            <div class="col-6">
                <strong>@prod.Key.Name</strong>
            </div>
            <div class="col-6">
                @prod.Count()
            </div>
        </div>
    }
</div>


<div class="border border-1 p-2 mb-2">
    <div class="h5 bg-info text-light p-2">Bookings by Customer</div>
    @if (Model.Bookings.Count() > 0)
    {
        @foreach (var book in @Model.Bookings)
        {
            <div class="row m-2">
                <div class="col-6">
                    <strong>@book.Key</strong>
                </div>
                <div class="col-6">
                    @book.Count()
                </div>
            </div>
            <hr />
        }
    } else {
        <span class="p-2 text-danger">There are no Bookings recorded.</span>
    }
</div>
