@* 
Controller: Dashboard
Action: Index
*@

@using SCS.Models.ViewModels
@model DashboardVM

<h2>Dashboard</h2>

<div class="border border-1 p-2 mb-2 col-6">
    <div class="h5 bg-info text-light p-2">Customers by Country</div>

    @foreach (var user in @Model.Users)
    {
        <p class="m-2"><strong>@user.Key</strong> - @user.Count()</p>
    }
</div>

<div class="border border-1 p-2 mb-2 col-6">
    <div class="h5 bg-info text-light p-2">Orders By Status</div>

    @foreach (var order in @Model.Orders)
    {
        <p class="m-2"><strong>@order.Key </strong>- @order.Count()</p>
    }
</div>

<div class="border border-1 p-2 mb-2 col-6">
    <div class="h5 bg-info text-light p-2">Products By Category</div>
    @foreach (var prod in @Model.Products)
    {
        <p class="m-2"><strong>@prod.Key.Name</strong> - @prod.Count()</p>
    }
</div>

<div class="border border-1 p-2 mb-2 col-6">
    <div class="h5 bg-info text-light p-2">Bookings by User</div>
    @foreach (var book in @Model.Bookings)
    {
        <p class="m-2"><strong>@book.Key</strong> - @book.Count()</p>
    }
</div>
 