@* 
Controller: Dashboard
Action: Index
*@

@using SCS.Models.ViewModels
@model DashboardVM

<h2>Dashboard</h2>

<div class="border border-1 p-2">
    
    <div class="row bg-primary p-2 m-2">
        
        <h5 class="text-light">
            Customers By Country               
            <a asp-controller="Users" asp-action="Index">       
                <i class="bi bi-box-arrow-in-right text-light"></i>
            </a>
        </h5>
        
    </div>

    @foreach (var user in @Model.Users)
    {
        <div class="row m-2">
            <div class="col-6 px-4">
                <strong>@user.Key</strong>
            </div>
            <div class="col-6">
                @user.Count()
            </div>
        </div>
    }
    <span class="p-4 m-2">Does not include Users without an Address recorded</span>
</div>

<div class="border border-1 p-2 mt-2">
    <div class="row bg-primary p-2 m-2">
        <h5 class="text-light">
            Orders By Status
            <a asp-controller="Order" asp-action="Index">
                <i class="bi bi-box-arrow-in-right text-light"></i>
            </a>
        </h5>
    </div>

    @if (Model.Orders.Any())
    {
        @foreach (var order in @Model.Orders)
        {
            <div class="row m-2">
                <div class="col-6 px-4">
                    <strong>@order.Key</strong>
                </div>
                <div class="col-6">
                    @order.Count()
                </div>
            </div>
        }
    } else {
        <span class="p-4 m-2 text-danger">There are no Orders recorded.</span>
    }
</div>

<div class="border border-1 p-2 mt-2">
    <div class="row bg-primary p-2 m-2">
        <h5 class="text-light">
            Product By Category
            <a asp-controller="Products" asp-action="Index">
                <i class="bi bi-box-arrow-in-right text-light"></i>
            </a>
        </h5>
    </div>
    
    @foreach (var prod in @Model.Products)
    {
        <div class="row m-2">
            <div class="col-6 px-4">
                <strong>@prod.Key.Name</strong>
            </div>
            <div class="col-6">
                @prod.Count()
            </div>
        </div>
    }
</div>

<div class="border border-1 p-2 mt-2">
    <div class="row bg-primary p-2 m-2">
        <h5 class="text-light">
            Bookings
            <a asp-area="Customer" asp-controller="Booking" asp-action="BookingList">
                <i class="bi bi-box-arrow-in-right text-light"></i>
            </a>
        </h5>
    </div>
    
    @if (Model.Bookings.Count() > 0)
    {
        @foreach (var book in @Model.Bookings)
        {
            <div class="row m-2">
                <div class="col-6 px-4">
                    <strong>@book.Key</strong>
                </div>
                <div class="col-6">
                    @book.Count()
                </div>
            </div>
            <hr />
        }
    } else {
        <span class="p-4 m-2 text-danger">There are no Bookings recorded.</span>
    }
</div>
