@* 
Controller: Dashboard
Action: Index
*@

@using SCS.Models.ViewModels
@model DashboardVM

<h2>Dashboard</h2>

<div class="border border-1 p-2">
    <div class="row bg-info text-light p-2 m-2">
        <div class="col-md-6">
            <h5>Customers By Country</h5>
        </div>
        <div class="col-md-2 offset-md-4">
            <a class="btn btn-outline-light" style="width:100px" 
                asp-controller="Users" asp-action="Index">
                <i class="bi bi-box-arrow-in-right"></i>
                Users
            </a>
        </div>
    </div>

    @foreach (var user in @Model.Users)
    {
        <div class="row m-2">
            <div class="col-6">
                <strong>@user.Key</strong>
            </div>
            <div class="col-6">
                @user.Count()
            </div>
        </div>
    }
    <span class="p-2 text-info m-2">Does not include Users without an Address recorded</span>
</div>

<div class="border border-1 p-2 mt-2">
    <div class="row bg-info text-light p-2 m-2">
        <div class="col-md-6">
            <h5>Order by Status</h5>
        </div>
        <div class="col-md-2 offset-md-4">
            <a class="btn btn-outline-light" style="width:100px" 
                asp-controller="Order" asp-action="Index">
                <i class="bi bi-box-arrow-in-right"></i>
                Orders
            </a>
        </div>
    </div>

    @if (Model.Orders.Count() > 0)
    {
        @foreach (var order in @Model.Orders)
        {
            <div class="row m-2">
                <div class="col-6">
                    <strong>@order.Key</strong>
                </div>
                <div class="col-6">
                    @order.Count()
                </div>
            </div>
        }
    } else {
        <span class="p-2 text-danger">There are no Orders recorded.</span>
    }
</div>

<div class="border border-1 p-2 mt-2">
    <div class="row bg-info text-light p-2 m-2">
        <div class="col-md-6">
            <h5>Product by Category</h5>
        </div>
        <div class="col-md-2 offset-md-4">
            <a class="btn btn-outline-light" style="width:100px" 
                asp-controller="Products" asp-action="Index">
                <i class="bi bi-box-arrow-in-right"></i>
                Products
            </a>
        </div>
    </div>
    
    @foreach (var prod in @Model.Products)
    {
        <div class="row m-2">
            <div class="col-6">
                <strong>@prod.Key.Name</strong>
            </div>
            <div class="col-6">
                @prod.Count()
            </div>
        </div>
    }
</div>

<div class="border border-1 p-2 mt-2">
    <div class="row bg-info text-light p-2 m-2">
        <div class="col-md-6">
            <h5>Bookings</h5>
        </div>
        <div class="col-md-2 offset-md-4">
            <a class="btn btn-outline-light" style="width:100px" 
                asp-area="Customer" asp-controller="Booking" asp-action="BookingList">
                <i class="bi bi-box-arrow-in-right"></i>
                Bookings</a>
        </div>
    </div>
    @if (Model.Bookings.Count() > 0)
    {
        @foreach (var book in @Model.Bookings)
        {
            <div class="row m-2">
                <div class="col-6">
                    <strong>@book.Key</strong>
                </div>
                <div class="col-6">
                    @book.Count()
                </div>
            </div>
            <hr />
        }
    } else {
        <span class="p-2 text-danger">There are no Bookings recorded.</span>
    }
</div>
