@model List<BundleVM>

<div class="card border-1">

    <div class=" card-header bg-primary bg-gradient ml-0 py-3 rounded">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">Bundles</h2>

            </div>
        </div>
    </div>
    
    <div class="card-body">
        <div class="row pb-3">
            <div class="col-12 text-end">
                <a asp-controller="Bundle" asp-action="Upsert" class="btn btn-primary" style="width:100px;">
                    <i class="bi bi-plus-circle"></i>
                    New
                </a>
            </div>
        </div>

        <div class="table-responsive table-scroll">
            <table class="table table-sm-3">
                <thead class="table-info">
                <tr>
                    <th>Name</th>
                    <th>Product 1</th>
                    <th>Product 2</th>
                    <th>Product 3</th>
                    <th>Price</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var obj in Model.OrderBy(u => u.Bundle.Name))
                {
                    <tr>
                        <td>@obj.Bundle.Name</td>
                        <td>
                            @obj.Bundle.Product1.Name <br />
                            <div class="text-secondary">@obj.Bundle.Product1.Category.Name</div>
                        </td>
                        <td>
                            @obj.Bundle.Product2.Name <br />
                            <div class="text-secondary">@obj.Bundle.Product2.Category.Name</div>
                        </td>
                        <td>
                            @obj.Bundle.Product3.Name <br />
                            <div class="text-secondary">@obj.Bundle.Product3.Category.Name</div>
                        </td>
                        <td>
                            @obj.Bundle.Price.ToString("C")
                        </td>
                        <td>
                            <div class="btn-group" role="group">
                                    <a asp-controller="Bundle" asp-action="Upsert" asp-route-id="@obj.Bundle.Id" class="btn btn-primary mx-1 px-5">
                                    <i class="bi bi-pencil-square"></i>
                                </a> 
                                @if (@obj.OkToDelete)
                                {
                                    <form method="post" asp-action="Delete" asp-route-id="@obj.Bundle.Id" id="deleteform" onsubmit="deleteBundle()">
                                        <input asp-for="@obj.Bundle.Id" hidden />
                                            <button type="submit" class="btn btn-danger px-5">
                                            <i class="bi bi-trash-fill"></i>
                                        </button>
                                    </form>
                                }
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@section Scripts {

    <partial name="_ValidationScriptsPartial" />
    <script>
        function deleteBundle(e) {
            e.preventDefault();
            Swal.fire({
                title: "Are you sure?",
                text: "You won't be able to revert this!",
                icon: "warning",
                showCancelButton: true,
                confirmButtonColor: "#3085d6",
                cancelButtonColor: "#d33",
                confirmButtonText: "Yes, delete it!"
            }).then((result) => {
                if (result.isConfirmed) {
                    const deleteform = document.getElementById('deleteform');
                    deleteform.submit();
                }
            })
        }
    </script>
}
