@model List<Booking>

<div class="card shadow border-0 mt-4 rounded-2 ">

    <div class=" card-header bg-primary bg-gradient ml-0 py-3 rounded">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">Bookings</h2>
            </div>
        </div>
    </div>

    <div class="card-body p-4 mb-3">

        @if (Model.Any())
        {
            <div class="table-responsive">
                <table class="table table-sm-3">
                    <thead class="table-success">
                        <tr>
                            <th>Date</th>
                            <th>Name</th>
                            <th>Voucher Key</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var obj in Model.OrderBy(u => u.AppUser.Name))
                        {
                            <tr>
                                <td>@obj.Date</td>
                                <td>@obj.AppUser.Name</td>
                                <td>@obj.VoucherKey</td>
                                <td>
                                    <div class="w-80 btn-group" role="group">
                                        <a asp-controller="Booking" asp-action="Details" asp-route-id="@obj.Id" class="btn btn-primary mx-1">
                                            <i class="bi bi-pencil-square"></i>
                                            View
                                        </a>
                                        @* <a asp-controller="Booking" asp-action="" asp-route-id="@obj.Id" class="btn btn-danger mx-1">
                                            <i class="bi bi-trash-fill"></i>
                                            Delete
                                        </a> *@
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }
    </div>