@* Project: CSC Mock Test
   Controller: Booking
   View      : BookDate
   Author    : Pedro Martinez
*@

@using SCS.Models.ViewModels
@model BookingVM

<form method="post">
<div class="card border-1 mt-4">
    <div class="card-header bg-primary bg-gradient text-light ml-0 py-4">
        <div class="row px-2">
            <div class="col-6">
                <h5 class="pt-2 text-white">
                    Book Certification
                </h5>
            </div>
        </div>
    </div>

    <input asp-for="@Model.BookDate" class="form-control" hidden />
    @* <input hidden asp-for="@Model.CDayList.Date" class="form-control"> *@

       @*  <form asp-area="Customer" asp-controller="Booking" asp-action="BookDate" class="m-2"> *@
        <div class="container bg-white bg-light p-4">
            
            <div class="row col-6">
                <div class="mt-2">
                    <label for="@Model.VoucherId" class="label"><strong>Voucher Key:</strong></label>
                    <input asp-for="@Model.VoucherId" class="form-control col-4" type="text" readonly>
                </div>
                <div class="mt-2">
                    <label class="form-check-label"><strong>Product:</strong></label>
                    <input asp-for="@Model.OrderDetails.Product.Name" class="form-control col-6" type="text" readonly>
                </div>

            </div>
        </div>
    
        @* Show Cert Slots ---------------------------- *@
        <div class="col-12 mt-4 p-4">
            <table class="table">
                <thead>
                    <tr>
                        @* Leave this for now but delete when testing is finished *@
                        <th>Slot Name</th> 
                        <th>Slot Period</th>
                        <th>Date</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var obj in Model.CDayList)
                    {
                        <tr>
                            @* Leave this for now but delete when testing is finished *@
                             <td>
                                @obj.CertificationSlot.Name
                            </td>
                            <td>
                                @obj.CertificationSlot.StartDate - @obj.CertificationSlot.EndDate
                            </td>
                            <td>
                                @obj.Date
                            </td>
                            <td>
                                <a asp-area="Customer" asp-controller="Booking" asp-action="Summary"
                                   asp-route-bDate="@obj.Date" class="btn btn-primary" style="width:100px;">
                                    <i class="bi bi-pencil-square"></i>
                                    Book
                                </a>
                            </td>
                        </tr>
                    } 
                </tbody>
            </table>
            <button asp-area="Customer" asp-controller="Home" asp-action="Index"
                    class="btn btn-outline-primary" style="width:100px;">
                Cancel
            </button>
        </div>
   
</div>
</form>