@* Project: CSC Mock Test
   Controller: Booking
   View      : BookDate
   Author    : Pedro Martinez
*@

@using SCS.Models.ViewModels
@model BookingVM

<form method="post">
<div class="card border-1 mt-4">
    <div class="card-header bg-primary bg-gradient text-light ml-0 py-4">
        <div class="row px-4">
            <div class="col-6">
                <h5 class="pt-2 text-white">
                    Book Certification
                </h5>
            </div>
        </div>
    </div>

    <input asp-for="@Model.BookDate" class="form-control" hidden />
    @* <input hidden asp-for="@Model.CDayList.Date" class="form-control"> *@

       @*  <form asp-area="Customer" asp-controller="Booking" asp-action="BookDate" class="m-2"> *@
        <div class="container bg-white bg-light">
            
            <div class="row col-6">
                <div class="mt-2">
                    <label for="@Model.VoucherId" class="label"><strong>Voucher Key:</strong></label>
                    <input asp-for="@Model.VoucherId" class="form-control col-4" type="text" readonly>
                </div>
                <div class="mt-2">
                    <label class="form-check-label"><strong>Product:</strong></label>
                    <input asp-for="@Model.OrderDetails.Product.Name" class="form-control col-6" type="text" readonly>
                </div>

            </div>
        </div>
    
        @* Show Cert Slots ---------------------------- *@
        <table class="table table-striped mt-4">
            <thead>
                <tr>
                    <th class="text-success-emphasis">
                        Slot Name
                    </th>
                    <th class="text-success-emphasis">
                        Slot Period
                    </th>
                    <th class="text-success-emphasis">
                        Date
                    </th>
                    <th class="text-success-emphasis">
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var obj in Model.CDayList)
                {
                    <tr>
                         <td>
                            @obj.CertificationSlot.Name
                        </td>
                        <td>
                            @obj.CertificationSlot.StartDate - @obj.CertificationSlot.EndDate
                        </td>
                        <td>
                        <input asp-for="@obj.Date" class="form-control">
                    </td>
                        <td>
                            <div>
                                <a asp-area="Customer" asp-controller="Booking" asp-action="Summary"
                                    asp-route-bDate="@obj.Date" class="btn btn-primary mx-3">
                                    <i class="bi bi-pencil-square"></i>
                                    Book
                                </a>
                            </div>
                        </td>
                    </tr>
                } 

                @* That Comes from Upsert in CertSlost by Karin 
                   Result is the same as above - PM *@
                    @* @for (int i = 0; i < Model.CDayList.Count(); i++)
                    {
                    <tr>
                        <td>
                        <input asp-for="@Model.CDayList[i].Date" class="form-control" disabled>
                            @* @Model.CDayList[i].Date 

                        </td>
                        <td>
                            <a asp-area="Customer" asp-controller="Booking" asp-action="Summary"
                                asp-route-bDate="@Model.CDayList[i].Date" class="btn btn-primary mx-3">
                                <i class="bi bi-pencil-square"></i>
                                Book
                            </a>
                        </td>
                    </tr>
                }  *@
        </tbody>
        </table>
        @* <div>
            <asp-calendar="new">

            </asp-calendar>
        </div> *@
   

    @* Buttons ---------------- *@
    <div class="row col-12 justify-content-center mb-2">
        <div class="col-2 ">
            <a asp-area="Customer" asp-controller="Home" asp-action="Index"
               class="btn btn-outline-primary form-control">
                Cancel
            </a>
        </div>
    </div>
</div>
</form>