@model List<Booking>

<div class="card shadow border-0 mt-4 rounded-2 ">

    <div class=" card-header bg-primary bg-gradient ml-0 py-3 rounded">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">Bookings</h2>
            </div>
        </div>
    </div>

    <div class="card-body p-4 mb-3">

        @if (Model.Any())
        {
            <table class="table table-borded table-light table-striped ">
                <thead>
                    <tr>
                        <th class="text-success-emphasis">
                            Id
                        </th>
                        <th class="text-success-emphasis">
                            Date
                        </th>
                        <th class="text-success-emphasis">
                            Name
                        </th>
                        <th class="text-success-emphasis">
                            Voucher Key
                        </th>
                        <th class="text-success-emphasis">
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var obj in Model.OrderBy(u => u.AppUser.Name))
                    {
                        <tr>
                            <td>
                                @obj.Id
                            </td>
                            <td>
                                @obj.Date
                            </td>
                            <td>
                                @obj.AppUser.Name
                            </td>
                            <td>
                                @obj.VoucherKey
                            </td>
                        
                            <td>
                                <div class="w-40 btn-group" role="group">
                                    <a asp-controller="Booking" asp-action="Details" asp-route-id="@obj.Id" class="btn btn-primary mx-2">
                                        <i class="bi bi-pencil-square"></i>
                                        View
                                    </a>
                                    @* <a asp-controller="Booking" asp-action="" asp-route-id="@obj.Id" class="btn btn-danger mx-2">
                                        <i class="bi bi-trash-fill"></i>
                                        Delete
                                    </a> *@
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </div>