@* Project   : SCS
   Controller: Booking
   View      : Summary
   Author    : Pedro Martinez
*@

@using SCS.Models.ViewModels
@model BookingVM 

<form method="post">
	<br />
	<div class="container">
		<div class="card border-1">

			<div class="card-header bg-primary bg-gradient ml-0 py-4">
				<div class="row px-4">
					<div class="col-6">
						<h5 class="pt-2 text-white">
							Booking Summary 
						</h5>
					</div>

					<div class="col-6 text-end">
						<a asp-action="Index" class="btn btn-outline-light btn-sm">Back to Booking</a>
					</div>
				</div>
			</div>

			@* Details ---------------------- *@
			<div class="card-body">
				<div class="container rounded p-2">
					<div class="row">
						<div class="col-12 col-lg-6 pb-4">
							<div class="row">
								<h4 class="d-flex justify-content-between align-items-center mb-3">
									@* <span class="text-info">@Model.CertificationSlot.Name</span> *@
								</h4>
							</div>
			
							<div class="row my-1">
								<div class="col-3">
									<label>Date: </label>
								</div>
								<div class="col-9">
									<input asp-for="@Model.BookDate" class="form-control" readonly/>
									@* <span asp-validation-for="OrderHeader.Name" class="text-danger"></span>  ----------------- *@
								</div>
							</div>
							
							<div class="row my-1">
								<div class="col-3">
									<label>Voucher Key:</label>
								</div>
								<div class="col-9">
									<input asp-for="@Model.VoucherId" class="form-control" readonly />
								</div>
							</div>

							<div class="row my-1">
								<div class="col-3">
									<label>Product:</label>
								</div>
								<div class="col-9">
									<input asp-for="@Model.OrderDetails.Product.Name" class="form-control" readonly />
								</div>
							</div>


							<div class="row my-1">
								<div class="col-3">
									<label>User Name:</label>
								</div>
								<div class="col-9">
									<input asp-for="@Model.AppUser.Name" class="form-control" readonly />
								</div>
							</div>

							<div class="row my-1">
								<div class="col-3">
									<label>Email:</label>
								</div>
								<div class="col-9">
									<input asp-for="@Model.AppUser.Email" class="form-control" readonly/>
									<span asp-validation-for="@Model.AppUser.Email" class="text-danger"></span> 
								</div>
							</div>
							
						</div>
					</div>
				</div>
			</div>
			
			<div class="card-footer border-0">
				<div class="col">
					@* <div class="col-12 col-md-8 pt-2">
						<p style="color:maroon; font-size:14px;">
							Estimate Arrival Date:
							@DateTime.Now.AddDays(7).ToShortDateString() - @DateTime.Now.AddDays(14).ToShortDateString()
						</p>
					</div> *@
					<div class="col-md-2 offset-md-5">
						<button type="submit" value="Summary" class="btn btn-primary form-control">Confirm Booking</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</form>