@model ProductVM

<div class="card shadow border-0 mt-4 mb-4">

    <div class="card-header bg-primary bg-gradient m-lg-0 py-4 rounded">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white">@(Model.Product.Id != 0 ? "Edit" : "New") Product</h2>
            </div>
        </div>
    </div>
    
    <div class="card-body p-4">
        <form method="post" class="row" enctype="multipart/form-data">
            <input asp-for="@Model.Product.Id" hidden/>

            <div class="row">
                <div class="col-10">

                    <div class="form-floating py-2 col-12">
                        <input asp-for="Product.Name" class="form-control border-1 " />
                        <label asp-for="Product.Name" class="mt-2 "></label>
                        <span asp-validation-for="Product.Name" class="text-danger"></span>
                    </div>

                    <label asp-for="Product.Description" class="text-muted">Description</label>

                    <div class="form-floating py-2 col-12">
                        <textarea  asp-for="Product.Description" class="form-control border-1 " style="height:150px"></textarea>
                        <span asp-validation-for="Product.Description" class="text-danger"></span>
                    </div>

                    <div class="form-floating py-2 col-12">
                        <select asp-for="Product.CategoryId" asp-items="@Model.CategoryList" class="form-select border-1">
                            <option disabled selected>--Select Category--</option>
                        </select>
                        <label asp-for="Product.CategoryId" class="mt-2 ">Category</label>
                        <span asp-validation-for="Product.CategoryId" class="text-danger"></span>
                    </div>

                    <div class="form-floating py-2 col-12">
                        <select asp-for="Product.ProviderId" asp-items="@Model.ProviderList" class="form-select border-1">
                            <option disabled selected>--Select Provider--</option>
                        </select>
                        <label asp-for="Product.ProviderId" class="mt-2 ">Provider</label>
                        <span asp-validation-for="Product.ProviderId" class="text-danger"></span>
                    </div>
                      
                    <div class="form-floating py-2 col-12">
                        <input asp-for="Product.Price" class="form-control border-1" />
                        <label asp-for="Product.Price" class="mt-2 "></label>
                        <span asp-validation-for="Product.Price" class="text-danger"></span>
                    </div>

                    <div class="form-floating py-2 col-12">

                        <select asp-for="Product.CertSlotId" asp-items="@Model.CertSlotList" class="form-select border-1">
                            <option disabled selected>--Select Certification Slot--</option>
                        </select>
                        <label asp-for="Product.CertSlotId" class="mt-2 ">CertificationSlot</label>
                    </div>
                       
                    <div class="form-floating py-2 col-12 " >
                        <div class="form-control border-1" >
                            <label asp-for="Product.Status">Status: &nbsp; </label>
                            <input type="radio" asp-for="Product.Status" value="active"/>Active &nbsp;
                            <input type="radio" asp-for="Product.Status" value="expired" />Expired
                        </div>
                        <span asp-validation-for="Product.Status" class="text-danger"></span>
                    </div>
                          
                    <div class="form-floating py-2 col-12">
                        <input type="file" name="files" class="form-control border-1" multiple />
                        <label asp-for="Product.ProductImages" class="mt-2 "></label>
                    </div>
                       
                                                
                    <div class="row pt-2">
                        <div class="col-6 col-md-3">
                            @if (Model.Product.Id == 0)
                            {
                                <button type="submit" class="btn btn-primary form-control rounded">Save</button>
                            }
                            else
                            {
                                <button type="submit" class="btn btn-primary form-control rounded">Update</button>
                            }
                        </div>

                        <div class="col-6 col-md-3">
                            <a asp-area="Admin"  asp-controller="Products" asp-action="Index" class="btn btn-secondary rounded form-control">Back to List</a>
                        </div>
                          
                    </div>
                    
                </div>

                <div class="col-2">
                    @if (Model.Product.ProductImages != null)
                        @foreach (var image in Model.Product.ProductImages)
                        {
                            <div class="border p-1 m-2 text.center ">
                                <img src="@image.ImageUrl" width="100%"
                                     style="border-radius:5px; border:1px solid #bbb9b9" />
                                <a asp-action="DeleteImage" class="btn btn-danger rounded m-1" asp-route-imageId="@image.Id">
                                    <i class="bi bi-trash-fill"></i>Delete
                                </a>
                            </div>
                        }
                </div>

            </div>
        </form>
    </div>
</div>


@section Scripts {
    <script>
        tinymce.init({
            selector: 'textarea',
            plugins: 'anchor autolink charmap codesample emoticons lists  table visualblocks wordcount linkchecker',
            toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | table | align lineheight | numlist bullist indent outdent | emoticons charmap ',

        });
    </script>
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}